@media screen and (min-width: 480px) {
  body h3 {
    text-align: center;
  }
}

@media screen and (min-width: 481px) {
  .logo img {
    width: 15em;
  }
  .search-bar .fa-map-marker-alt {
    left: 25%;
  }
  .block_list ol > li {
    width: 70%;
  }
}

@media screen and (min-width: 567px) {
  .introduction > .intro_text {
    width: 80%;
  }
  .introduction > .intro_text > h2 {
    width: 80%;
  }
  .block_list {
    max-width: 567px;
  }
  .block_list ol > li {
    width: 60%;
  }
  .restaurant_list article {
    width: 80%;
  }
  .container > h4 {
    text-align: center;
  }
  .container .info_omyfood {
    text-align: center;
  }
}

@media screen and (min-width: 730px) {
  .search-bar .fa-map-marker-alt {
    left: 30%;
  }
  .block_list {
    width: 100%;
    max-width: none;
  }
  .block_list > ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .block_list > ol > li {
    width: 30%;
  }
}

@media screen and (min-width: 840px) {
  .restaurant_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant_list article {
    width: 45%;
    margin: 0.8em;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav > .banner {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #353535;
  }
  .nav > .banner img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    width: 20em;
  }
  .nav .part-search {
    width: 30%;
  }
  .part-search > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .part-search > form > .search-bar {
    background: violet;
  }
  .part-search > form > .search-bar .fa-map-marker-alt {
    left: 70%;
  }
  .part-search > form .introduction {
    color: #FFF;
    background-color: #353535;
  }
  .part-search > form .introduction > .intro_text {
    width: 100%;
    font-size: 1.1em;
    background: transparent;
  }
  .part-search > form .introduction > .intro_text > h2 + p {
    width: 100%;
  }
  .part-search > form .introduction .btn_explore {
    width: 100%;
  }
  .block_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block_operation {
    width: 25%;
    height: 380px;
    position: -webkit-sticky;
    position: sticky;
    top: 250px;
    right: 50px;
    padding-top: 1em;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 10px #B991EA;
            box-shadow: 0px 0px 20px 10px #B991EA;
    background: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to right, #FF79DA, #9356DC);
  }
  .block_operation > .title h3 {
    margin: 0em auto;
    color: #FFF;
  }
  .block_list ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block_list ol > li {
    width: 80%;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .block_restaurant {
    background: #FFF;
    width: 70%;
  }
  .restaurant_list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFF;
  }
  .restaurant_list > .title {
    width: 100%;
  }
  .restaurant_list article {
    width: 70%;
  }
}
/*# sourceMappingURL=media_queries.css.map */