@charset "UTF-8";
/*bouton call-to-action:explorer nos menus et commander*/
/*propriétés flexbox*/
/* boucle background image des menus*/
/*$selector:(ex:francaise), $img:lien url*/
/*variables couleur*/
/*variables taille*/
/**********************media queries mobile************************/
@media screen and (min-width: 480px) {
  body h3 {
    text-align: center;
  }
}

@media screen and (min-width: 481px) {
  /*banniere*/
  .logo img {
    width: 15em;
  }
  /*barre de recherche*/
  .search-bar .fa-map-marker-alt {
    left: 25%;
  }
  /*bloc fonctionnement*/
  .block_list ol > li {
    width: 70%;
  }
}

@media screen and (min-width: 567px) {
  /*presentation du site:header*/
  .introduction > .intro_text {
    width: 80%;
  }
  .introduction > .intro_text > h2 {
    width: 80%;
  }
  /*bloc fonctionnement*/
  .block_list {
    max-width: 567px;
  }
  .block_list ol > li {
    width: 60%;
  }
  /*bloc restaurants*/
  .restaurant_list article {
    width: 80%;
  }
  /*footer*/
  .container > h4 {
    text-align: center;
  }
  .container .info_omyfood {
    text-align: center;
  }
}

/**********************media queries tablette************************/
@media screen and (min-width: 730px) {
  /*barre de recherche*/
  .search-bar .fa-map-marker-alt {
    left: 30%;
  }
  /*bloc fontionnement*/
  .block_list {
    width: 100%;
    max-width: none;
  }
  .block_list > ol {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .block_list > ol > li {
    width: 30%;
  }
}

@media screen and (min-width: 840px) {
  body {
    height: 100%;
  }
  /*liste restaurants*/
  .restaurant_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant_list article {
    width: 45%;
    margin: 0.8em;
  }
}

/**********************media queries desktop***********************/
@media screen and (min-width: 1280px) {
  /*banniere*/
  .nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav > .banner {
    width: 40%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #353535;
  }
  .nav > .banner img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    width: 20em;
  }
  /*partie recherche*/
  .part-search {
    width: 60%;
  }
  .part-search > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .part-search > form > .search-bar {
    background: #FF79DA;
  }
  .part-search > form > .search-bar .fa-map-marker-alt {
    left: 55%;
  }
  /*presentation du site*/
  .introduction {
    color: #FFF;
    background-color: #353535;
  }
  .introduction > .intro_text {
    width: 100%;
    font-size: 1.1em;
    background: transparent;
  }
  .introduction > .intro_text > h2 + p {
    width: 100%;
  }
  .introduction .btn_explore {
    width: 100%;
  }
  /*bloc main*/
  .block_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  /*bloc fonctionnement*/
  .block_operation {
    width: 20%;
    height: 380px;
    position: -webkit-sticky;
    position: sticky;
    top: 250px;
    right: 50px;
    padding-top: 1em;
    margin-left: 30px;
    border-radius: 15px;
    /*box-shadow: 0px 0px 20px 10px #B991EA;*/
    background: rgba(53, 53, 53, 0.7);
    -webkit-box-shadow: 0 8px 32px 0 #353535;
            box-shadow: 0 8px 32px 0 #353535;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
  }
  .block_operation > .title h3 {
    margin: 0em auto;
    color: #FFF;
  }
  .block_operation .block_list ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block_operation .block_list ol > li {
    width: 80%;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  /*bloc restaurants*/
  .block_restaurant {
    background: #FFF;
    width: 70%;
  }
  .block_restaurant > .title {
    width: 100%;
  }
  .block_restaurant > .title h3 {
    font-size: 1.5em;
  }
  .block_restaurant .restaurant_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFF;
  }
  .block_restaurant .restaurant_list article {
    width: 70%;
    margin-bottom: 2em;
  }
  /*footer*/
  .container > h4 img {
    width: 20%;
  }
  .info_omyfood {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin-top: 30px;
  }
  .info_omyfood > li {
    width: 20%;
  }
  .info_omyfood > li a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

/**********************media queries grand ecran************************/
@media screen and (min-width: 1920px) {
  /*bloc restaurants*/
  .restaurant_list > article {
    width: 60%;
    height: 600px;
  }
  .restaurant_list > article .card {
    width: 100%;
    height: 100%;
  }
  /*image des articles*/
  .part_img {
    height: 500px;
  }
  .part_img img {
    height: 500px;
  }
  /*texte des articles*/
  .introduction .intro_text {
    font-size: 1.3em;
  }
  /*footer*/
  .info_omyfood a {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 2000px) {
  body {
    max-width: 100%;
  }
  /*banniere*/
  .nav {
    /*presentation du site*/
  }
  .nav > .banner img {
    width: 30em;
  }
  .nav .part-search .intro_text {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=media_queries_index.css.map */