@import "mixins.scss";
@import "variables.scss";

/**********************media queries mobile************************/
@media screen and (min-width:480px) {
    body{
        & h3{
            text-align: center;
        }
    }
}

@media screen and (min-width:481px){
    /*banniere*/
    .logo {
        img{
            width: 15em;
        }
    }
    /*barre de recherche*/
    .search-bar {
        & .fa-map-marker-alt{
            left:25%;
        }
    }
    /*bloc fonctionnement*/
    .block_list{
        ol > li{
            width: 70%;
        }
    }
}

@media screen and (min-width:567px){
    /*presentation du site:header*/
    .introduction{
        > .intro_text{
            width: 80%;
            > h2{
                width: 80%;
            }
        }
    }
    /*bloc fonctionnement*/
    .block_list{
        max-width: 567px;
        ol > li{
            width: 60%;  
        }
    }
    /*bloc restaurants*/
    .restaurant_list{
        & article{
            width: 80%;
        }  
    }
    /*footer*/
    .container{
        > h4{
            text-align: center;
        }
        & .info_omyfood{
            text-align: center;
        }
    }
}
/**********************media queries tablette************************/
@media screen and (min-width:730px) {
    /*barre de recherche*/
    .search-bar {
        & .fa-map-marker-alt{
            left:30%;
        }
    }
    /*bloc fontionnement*/
    .block_list{
        width: 100%;
        max-width: none;
        > ol{
            @include block-row (100%,space-around,initial);
            > li{
                width: 30%;
            }
        }
    }
}

@media screen and (min-width:840px){
    body{
        height: 100%;
    }
    /*liste restaurants*/
    .restaurant_list{
        @include block-row (100%,space-between,initial);
        flex-wrap: wrap;
        & article {
            width: 45%;
            margin:0.8em;
        }      
    }
}
/**********************media queries desktop***********************/
@media screen and (min-width:1280px){
    /*banniere*/
    .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        > .banner{
            width: 40%;
            justify-content: center;
            background-color:$dark-bg-color;
            & img{
                filter: invert(100%);
                width: 20em;
            }
        }
    }
    /*partie recherche*/
    .part-search{
        width: 60%;
        > form{
            display: flex;
            flex-direction: column-reverse;
            > .search-bar{
                background: $secondary;
                & .fa-map-marker-alt{
                    left: 55%;
                }   
            }
        }
    } 
    /*presentation du site*/   
    .introduction {
        color:#FFF;
        background-color: $dark-bg-color;
        > .intro_text{
            width: 100%;
            font-size: 1.1em;
            background: transparent;
            > h2 + p{
                width: 100%;
            }
        }
        & .btn_explore{
            width: 100%;
        }
    }
    /*bloc main*/
    .block_content{
        @include block-row (100%,space-between,initial);
    }
     /*bloc fonctionnement*/   
    .block_operation{
        @include block_floated;
        > .title h3 {
            margin: 0em auto;
            color: #FFF;
        }
        & .block_list{
            ol{
                flex-direction: column;
                align-items: center;
                > li{
                    width: 80%;
                    margin-bottom:1em;
                    margin-top: 1em;
                }
            }
        }
    }
    /*bloc restaurants*/
    .block_restaurant{
        background: #FFF;
        width: 70%;
        > .title{
            width: 100%;
            h3{
                font-size: 1.5em;
            }
        }
        & .restaurant_list{
            @include block-column(#FFF,100%);
            & article{
                width: 70%;
                margin-bottom: 2em;
            }
        }
    }
    /*footer*/
    .container{
        >h4{
            img{
                width: 20%;
            }
        }
    }
    .info_omyfood{
        @include block-row(100%,space-around,initial);
        margin-top:30px;
        > li{
            width: 20%;
            &  a{
                @include block-row(100%,space-around,initial)
            }
        }
    }    
}
/**********************media queries grand ecran************************/
@media screen and (min-width:1920px){
    /*bloc restaurants*/
    .restaurant_list{
        > article{
            width: 60%;
            height: 600px;
            & .card{
                width: 100%;
                height: 100%;
            }
        }
    }
    /*image des articles*/
    .part_img{
        height: 500px;
        & img{
            height: 500px;
        }   
    }
    /*texte des articles*/
    .introduction{
        & .intro_text{
            font-size: 1.3em;
        }     
    }
    /*footer*/
    .info_omyfood{
        & a{
            font-size: 1.3em;
        }
    }
}

@media screen and (min-width:2000px){
   body{
    max-width: 100%;
   }
   /*banniere*/
   .nav{
    > .banner{
        & img{
            width: 30em;
            }
        }
    /*presentation du site*/
    .part-search{
        & .intro_text{
                font-size: 1.5em;
            }
        }
   }
}
