@media screen and (min-width:480px) {
    body{
        & h3{
            text-align: center;
        }
    }
}

@media screen and (min-width:481px){
    .logo {
        img{
            width: 15em;
        }
    }

    .search-bar {
        & .fa-map-marker-alt{
            left:25%;
        }
    }
    .block_list{
        ol > li{
            width: 70%;
        }
    }
}

@media screen and (min-width:567px){
    .introduction{
        > .intro_text{
            width: 80%;
            > h2{
                width: 80%;
            }
        }
    }
    
    .block_list{
        max-width: 567px;
        ol > li{
            width: 60%;
            
        }
    }
    .restaurant_list{
        & article{
            width: 80%;
        }
        
    }
    .container{
        > h4{
            text-align: center;
        }
        & .info_omyfood{
            text-align: center;
        }
    }
}

@media screen and (min-width:730px) {
    .search-bar {
        & .fa-map-marker-alt{
            left:30%;
        }
    }

    .block_list{
        width: 100%;
        max-width: none;
        > ol{
            flex-direction: row;
            justify-content: space-around;
            > li{
                width: 30%;
            }
        }
    }
}

@media screen and (min-width:840px){
    body{
        height: 100%;
    }
    
    
    .restaurant_list{
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        flex-wrap: wrap;
        & article {
            width: 45%;
            margin:0.8em;
        }   
        
    }
}

@media screen and (min-width:1280px){
    .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        > .banner{
            width: 40%;
            justify-content: center;
            background-color: #353535;
            & img{
                filter: invert(100%);
                width: 20em;
            }
        }
        & .part-search{
            width: 60%;
        }
    }

    .part-search{
        > form{
            display: flex;
            flex-direction: column-reverse;
            > .search-bar{
                background: violet;
                & .fa-map-marker-alt{
                    left: 55%;
                }   
            }    
            & .introduction {
                color:#FFF;
                background-color: #353535;
                > .intro_text{
                    width: 100%;
                    font-size: 1.1em;
                    background: transparent;
                    > h2 + p{
                        width: 100%;
                    }
                }
                & .btn_explore{
                    width: 100%;
                }
            }
        }
            
    }    

    .block_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > .block_operation{
            width: 20%;
            height: 380px;
            position: sticky;
            top:250px;
            right: 50px;
            padding-top: 1em;
            margin-left: 30px;
            border-radius: 15px;
            box-shadow: 0px 0px 20px 10px #B991EA;
            background: linear-gradient(to right,#FF79DA, #9356DC);
            > .title h3 {
                margin: 0em auto;
                color: #FFF;
            }
            & .block_list{
                ol{
                    flex-direction: column;
                    > li{
                        width: 80%;
                        margin-bottom:1em;
                        margin-top: 1em;
                    }
                }
            }
        }
        
    }

    .block_restaurant{
        background: #FFF;
        width: 70%;
        > .title{
            width: 100%;
            h3{
                font-size: 1.5em;
            }
        }
        & .restaurant_list{
            width: 100%;
            flex-direction: column;
            align-items: center;
            background: #FFF;
            & article{
                width: 70%;
            }
        }
    }

    .container{
        >h4{
            img{
                width: 20%;
            }
        }
        .info_omyfood{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            > li{
                width: 20%;
                &  a{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        } 
    }
    
    
    
}