@import "mixins.scss";
@import "variables.scss";
@import "style-menus.scss";

@media screen and (min-width: 601px){
 
    .banner-menu{
        height: 400px;
        margin-bottom: 50px;
        
        > .title-banner{
            flex-direction: column;
            > h2{
                text-align: center;
            }
        }
    }

    .container-menu{
       & h3{
           text-align: center;
       }
    }

    .block-menu{
        width: 90%;
        margin:1em auto;
        & .title-menu{
            h4{
                font-size: 1em;
            }
            p{
                font-size: 0.9em;
            }
        }
        & .price{
            p{
                font-size: 1em;
            }
        }
    }

     /*footer*/
     .container{
        > h4{
            text-align: center;
        }
        & .info-omyfood{
            text-align: center;
        }
    }

}

@media screen and (min-width: 834px){
    .banner-menu{
        height: 500px;
    }
}

@media screen and (min-width: 1024px){
    .banner-menu{
        background-image: none;
        height: auto;
        margin-bottom: 6em;
        & .icone-favorite{
            margin-bottom: 3em;
        }
       
    }

    .banner{
        nav{
            > a:first-child{
                width: 5%;
                & .fa-arrow-left{
                    font-size: 2em;
                }
            }
            & a:last-child{
            width: 95%;
            text-align: center;
            & img{
                width: 40%;
               
            }
            }
        }
    }

    .container-restaurant{
        /*background-image: url(../images/restaurants/Big/palette_du_gout.jpg);
        background-color: $light-bg-color;
        background-repeat:no-repeat;
        background-size:cover;
        width: 100%;
        margin: auto;
        height: 100%;*/
        @include bg-Big-image-property (francaise);
        & footer{
            width: 30%;
            margin:auto;
            position: sticky;
            bottom: 0;
        }
    }

    .container-menu{
        width: 60%;
        margin-bottom: 3em;
        margin: auto;
        background: gray;
        border-radius: 15px;
        background: rgba( 126, 126, 126, 0.80 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        & .menu-liste{
            & h3{
                width: 15%;
                margin: auto;
            }
        }  
    }
     
    .block-menu{
        width: 80%;
        margin: 1em auto;
    }

    
    
    .btn-order{
        margin-bottom: 0;
        padding-top:50px;
        padding-bottom:50px;
        
    }
    /*footer*/
    .container{
        >h4{
            img{
                width: 20%;
            }
        }
    }
    .info-omyfood{
        @include block-row(100%,space-around,initial);
        margin-top:30px;
        > li{
            width: 20%;
            &  a{
                @include block-row(100%,space-around,initial)
            }
        }
    }    
}

