@import "mixins.scss";
@import "variables.scss";
@import "style-menus.scss";



/**********************media queries tablette************************/
@media screen and (min-width: 601px){
    /*bannier*/
    .banner-menu{
        height: 400px;
        margin-bottom: 50px;
        > .title-banner{
            flex-direction: column;
            > h2{
                text-align: center;
            }
        }
    }

    /*main*/
    .container-menu{
       & h3{
           text-align: center;
       }
    }


    
/*footer*/
     .container{
        > h4{
            text-align: center;
        }
        & .info-omyfood{
            text-align: center;
        }
    }

}

@media screen and (min-width: 834px){
    /*banniere*/
    .banner-menu{
        height: 500px;
    }

}
/**********************media queries desktop***********************/
@media screen and (min-width: 1024px){
    /*banniere*/
    .banner-menu{
        background-image: none;
        height: auto;
        margin-bottom: 6em;
        & .icone-favorite{
            margin-bottom: 3em;
        }
       
    }

    .banner{
        & .nav{
            > a:first-child{
                width: 5%;
                & .fa-arrow-left{
                    font-size: 2em;
                }
            }
            & a:last-child{
            width: 95%;
            text-align: center;
            & img{
                width: 40%;
               
                }
            }
        }
    }

    .title-banner{
        > h2{
            font-size: 1.8em;
        }
    }
    /*Main*/
    .container-restaurant{
        @include bg-Big-image-property (francaise);
        & footer{
            width: 30%;
            margin:auto;
            position: sticky;
            bottom: 0;
        }
    }

    .container-menu{
        width: 60%;
        margin-bottom: 3em;
        margin: auto;
        background: gray;
        border-radius: 15px;
        background: rgba( 126, 126, 126, 0.80 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        & .menu-list{
            & h3{
                width: 15%;
                margin: auto;
                color: #FFF;
            }
        }  
    }
     /*bouton commander*/
    .btn-order{
        margin-bottom: 0;
        padding-top:50px;
        padding-bottom:50px;
        
    }
    /*footer*/
    .container{
        >h4{
            img{
                width: 15%;
            }
        }
    }
    .info-omyfood{
        @include block-row(90%,space-around,initial);
        margin-top:30px;
        > li{
            width: 30%;
            &  a{
                @include block-row(100%,space-around,initial)
            }
        }
    }    
}


@media screen and (min-width: 1640px){


    /*footer*/
    .info-omyfood{
        &  a{
            font-size: 1.2em;
        }
    }
}




@media screen and (min-width: 2901px){
    body{
        height: 100%;
        
    }
    
    main{
        max-width: 2200px;
        

    }
}

