/*bouton call-to-action:explorer nos menus et commander*/
@mixin button_submit($size-btn,$size-text, $padding:0 1em){
        color: white;
        font-size:$size-text;
        font-weight: bold;
        background:linear-gradient($secondary,$primary);
        border-radius: 20vw;
        border:none;
        box-shadow: 6px 7px 9px -5px rgba(0,0,0,0.67);
        max-width:$size-btn;
        height: 3.5em;
        padding:$padding;
        cursor:pointer;
}

/*propriétés flexbox*/
@mixin block-column ($colour:$light-bg-color, $size:100%){
        width: $size;;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $colour;
}

@mixin block-row ($size,$position, $y-position){
        width: $size;
        display: flex;
        flex-direction: row;
        justify-content: $position;
        align-items: $y-position;
        
}

/* boucle background image des menus*/
/*$selector:(ex:francaise), $img:lien url*/
$menu:(
        francaise: '../images/restaurants/Small/a_la_francaise.jpg',
        note: '../images/restaurants/Small/note_enchantee.jpg',
        delice: '../images/restaurants/Small/delice_des_sens.jpg',
        palette: '../images/restaurants/Small/palette_du_gout.jpg'

);
@mixin bg-image-property ($selector){
        @each $selector, $img in $menu{
                &--#{$selector}{
                        width: 100%;
                        background-image: url($img);
                        background-color: $light-bg-color;
                        background-repeat:no-repeat;
                        background-attachment:local;
                        background-size:cover;
                        background-position-x: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                       
                }
        }
}

/*Boucle background image menus version desktop*/
$desktop-menu:(
        francaise: '../images/restaurants/Big/a_la_francaise.jpg',
        note: '../images/restaurants/Big/note_enchantee.jpg',
        delice: '../images/restaurants/Big/delice_des_sens.jpg',
        palette: '../images/restaurants/Big/palette_du_gout.jpg'

);
@mixin bg-Big-image-property ($selector) {
        @each $selector, $img in $desktop-menu{
                &--#{$selector}{
                        background-image: url($img);
                        background-color: $light-bg-color;
                        background-repeat:no-repeat;
                        background-size:cover;
                        width: 100%;
                        margin: auto;
                        height: 100%;
                }
        }
}


@mixin animation-heart{
        .fas{
                position: absolute;
                opacity: 0;
                color:transparent;
                transition: all .4s linear;
                font-size:1.8em ;
                cursor: pointer;
                width: 30px;
               
                
        }
        .far{
                transition: all 1s linear;
                font-size:1.8em ;
                width: 30px;
                
        }
        &:hover{
                .fas{
                        opacity:1;
                        background:linear-gradient($primary,$secondary);
                        background-clip: text;
                        -webkit-background-clip: text;
                }
                .far{
                        opacity: 0;      
                }
        }        
}

@mixin block_floated{
        width: 20%;
        height: 380px;
        position: sticky;
        top:250px;
        right: 50px;
        padding-top: 1em;
        margin-left: 30px;
        border-radius: 15px;
        background: rgba( 53, 53, 53, 0.70 );
        box-shadow: 0 8px 32px 0 $dark-bg-color;
        border-radius: 10px;
}


