@charset "UTF-8";
/*fichies importes*/
/*variables couleur*/
/*variables taille*/
/*propriétés générales*/
* {
  font-size: 1rem;
}

body {
  max-width: 599px;
  height: auto;
  margin: 0;
  padding: 0;
}

/*******header***********/
/*banniere du site*/
.banner {
  width: 100%;
}

.banner > .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.banner .logo {
  margin-top: 0.5em;
}

.banner .logo img {
  width: 10em;
}

.banner .search-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  height: 2.8rem;
  -webkit-box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
          box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
}

.banner .search-bar .fa-map-marker-alt {
  font-size: 0.9em;
  color: #353535;
  width: 10%;
  text-align: right;
}

.banner .search-bar input {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  background-color: transparent;
  border: none;
  color: #353535;
  width: 90%;
  margin-left: 1em;
}

.banner .search-bar input::-webkit-input-placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input:-ms-input-placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input::-ms-input-placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input::placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input:focus {
  outline-style: none;
}

/*block presentation*/
.introduction {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 3em;
}

.introduction > .intro_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  margin-top: 1rem;
  text-align: center;
}

.introduction > .intro_text h2 {
  font-size: 1.5em;
  width: 60%;
  margin-bottom: 0;
}

.introduction > .intro_text p {
  font-size: 1.1em;
  width: 90%;
}

.introduction .btn_explore {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.introduction .btn_explore .call-to-action {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20vw;
  border: none;
  -webkit-box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
          box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
  max-width: 100%;
  height: 3.5em;
  cursor: pointer;
}

.introduction .btn_explore .call-to-action:hover {
  -webkit-box-shadow: 6px 7px 9px -5px #9356DC;
          box-shadow: 6px 7px 9px -5px #9356DC;
}

/*************Main**********/
/*block fonctionnement du site*/
.block_operation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.block_operation > .title {
  width: 100%;
}

.block_operation > .title h3 {
  width: 90%;
  margin: 1.5em  auto;
  font-size: 1.5em;
}

.block_list {
  width: 100%;
}

.block_list ol {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.block_list ol > li {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px #f6f6f6 solid;
  border-radius: 20px;
  -webkit-box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
          box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
  margin-bottom: 2em;
  height: 4em;
  position: relative;
}

.block_list ol > li:nth-child(3) {
  background-color: rgba(147, 86, 220, 0.1);
}

.block_list ol > li .fas {
  margin: 0 2em;
}

.block_list ol > li .fas.fa-store {
  color: #9356DC;
}

.block_list ol > li > p:nth-child(1) {
  border: none;
  border-radius: 100%;
  position: absolute;
  left: -10px;
  padding: 2px 7px;
  color: white;
  background: #9356DC;
}

/*block restaurant*/
.block_restaurant {
  background-color: #f6f6f6;
  width: 100%;
}

.block_restaurant > .title {
  width: 100%;
  padding-top: 2em;
}

.block_restaurant > .title h3 {
  width: 90%;
  margin: 1.1em  auto;
  font-size: 1.5em;
}

/*block liste des restaurants*/
.restaurant_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.restaurant_list article {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  /*border:1px black solid;*/
  border-radius: 15px;
  -webkit-box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
          box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
  margin: 1em;
}

.restaurant_list a {
  width: 100%;
  /*border: 1px black solid;*/
  background-color: white;
  border-radius: 15px;
}

.restaurant_list a:link {
  text-decoration: none;
}

.restaurant_list a .part_img img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
}

.restaurant_list a .part_text {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.restaurant_list a .part_text > .info {
  width: 80%;
}

.restaurant_list a .part_text > .info h4, .restaurant_list a .part_text > .info p {
  font-size: 1.1em;
  margin: 0.5em;
}

.restaurant_list a .part_text .icone_favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant_list a .part_text .icone_favorite i {
  font-size: 1.8em;
  margin-top: 0.3em;
}
/*# sourceMappingURL=style-index.css.map */