/*fichies importes*/
@import "mixins.scss";
@import "variables.scss";

/*propriétés générales*/
*{
    font-size: 1rem;
}
body{
    max-width: 599px;
    height: auto;
    margin:0;
    padding:0;
}
/********************************HEADER***********************************/

/*banniere du site*/
.nav{
    width: 100%;
    > .banner{
        @include block-column(#FFF);
    }
}

/*logo*/
.logo {
    margin-top:0.5em;
    & img{
        width: 10em ;
    }
}

/*barre de recherche*/
.search-bar{
    @include block-row(100%,center,center);
    background-color: $color-map;
    height: 2.8rem;
    box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
    & .fa-map-marker-alt{
        font-size: 0.9em;    
        color:$dark-bg-color;
        width: 10%;
        text-align: right;
        position: absolute;
        left:  17%;
        padding-top: 1em;
    }
    label{
        width: 100%;
    }
    input{
        background-color: transparent;
        width: 100%;
        border:none;
        color:$dark-bg-color;
        position: relative; 
        left:0;
        height: 2.7em;
        text-align: center;
        &::placeholder{
            text-align: center;
            font-size: 0.9em;
            color:$dark-bg-color;
            font-weight: bold;
            
        }
        &:focus{
            outline-style: none;
            background-color: #FFF;
            z-index: 2;
        }       
    }
}


/*block presentation*/
.introduction{
    @include block-column;
    padding-bottom:3em; 
    > .intro_text{
        @include block-column();
        margin-top: 1rem;
        text-align: center;
        & h2{
            font-size: $title-size;
            width: 60%;
            margin-bottom:0;
        }
        & p{
            font-size: 1em;
            width: 90%;
        }
    }
}

/*bouton explorez nos restaurants*/
.btn_explore{
    @include block-row(60%,center,center);
    margin-top:10px;
    .call-to-action{
        @include button_submit (100%,1rem);
        &:hover{
            box-shadow: 6px 7px 9px -5px $primary;
        }
        
    }
    
}

/********************************Main************************************/

/*block fonctionnement du site*/
/*titre de la partie fonctionnement du site*/
.block_operation{
    @include block-column(#FFF);
    padding-top: 2em;
    > .title{
        width: 100%;
        & h3{
            width: 90%;
            margin: 1.5em  auto;
            font-size: $title-size;
        }
    }
}

/*liste d' étapes à suivre pour commander*/
.block_list{
    width: 100%; 
    & ol{
        list-style-type: none;
        padding-left: 0;
        @include block-column(#FFF);
        > li{
        @include block-row(90%, flex-star,center);
        border:1px $light-bg-color solid;
        border-radius:20px;
        box-shadow: 6px 7px 9px -5px rgba(0,0,0,0.67);
        background-color: $light-bg-color;
        margin-bottom: 2em;
        height: 4em;
        position:relative;
        &:nth-child(3){
            background-color: rgba(147,86,220,0.1);
        }
        .fas{
            margin:0 2em;
            color: $color-icone;
            font-size: 1.2em;
            &.fa-store{
                color: $primary;
            }
        }
        > p:nth-child(1){
            border: none;
            border-radius: 100%;
            position: absolute;
            left: -10px;
            padding: 2px 7px;
            color: white;
            background: $primary;
            }
        }
    }
}
/*partie liste des restaurants*/
/*block restaurant*/
.block_restaurant{
    background-color: $light-bg-color;
    width: 100%;
    padding-bottom: 5em;
    > .title{
        width: 100%;
        padding-top: 2em;
        & h3{
            width: 90%;
            margin: 1.1em  auto;
            font-size: $title-size;
        }
    }
}
/*block liste des restaurants*/
.restaurant_list{
    @include block-column ();
    & article {
        @include block-column ($light-bg-color, 90%);
        /*border:1px black solid;*/
        border-radius: 15px;
        box-shadow: 6px 7px 9px -5px rgba(0,0,0,0.67);
        margin: 1em;
    }
}
/*cartes cliquables*/
.card{
    width: 100%;
    /*border: 1px black solid;*/
    background-color: white;
    border-radius: 15px;
    &:link{
        text-decoration: none;
    }
    img{
        width: 100%;
        border-top-left-radius: 1.1em;
        border-top-right-radius:1.1em;
        border-style: none;
        object-fit: cover;
        height: 175px;
    }
}
/*titre des cartes*/
.part_text{
    @include block-row (95%,space-between, center);
    margin:auto;
    color: black;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    > .info{
        width: 80%;
        h4,p{
            font-size: 1.1em;
            margin: 0.5em;
        }
    }
}
/*icones coeur*/
.icone_favorite{
    @include block-row (20%,center,center);
    @include animation-heart;
    i{
        font-size:1.8em;
        margin-top:0.3em;
        
    }
}
               
/**********************************FOOTER*******************************/
/*propriétés générales du footer*/
.container{
    @include block-column($dark-bg-color,100%);
    padding-top: 1em;
    padding-bottom:1.5em;
    h4{
        width: 90%;
        margin-bottom: 0;
        img{
            width: 30%;
            filter: invert(100%);
        }    
    }
}
/*liens vers les infos complémentaires du site omyfood*/
.info_omyfood{
    width: 90%;
    padding-left: 0;
    > li{
        list-style-type: none;
        margin-bottom: 0.5em;
        & a{
            text-decoration: none;
            color: #FFF ;
            & .fas{
                width: 8%;
            }  
        }
    }
}  



