@charset "UTF-8";
/*fichies importes*/
/*variables couleur*/
/*propriétés générales*/
* {
  font-size: 1rem;
}

body {
  max-width: 599px;
  height: auto;
  margin: 0;
  padding: 0;
}

/*header*/
.banner {
  width: 100%;
}

.banner > .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.banner .logo {
  margin-top: 0.5em;
}

.banner .logo img {
  width: 10em;
}

.banner .search-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  height: 2.8rem;
  -webkit-box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
          box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
}

.banner .search-bar .fa-map-marker-alt {
  font-size: 0.9em;
  color: #353535;
  width: 10%;
  text-align: right;
}

.banner .search-bar input {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  background-color: transparent;
  border: none;
  color: #353535;
  width: 90%;
  margin-left: 1em;
}

.banner .search-bar input::-webkit-input-placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input:-ms-input-placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input::-ms-input-placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input::placeholder {
  text-align: left;
  font-size: 0.9em;
  color: #353535;
  font-weight: bold;
}

.banner .search-bar input:focus {
  outline-style: none;
}

.introduction {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 3em;
}

.introduction > .intro_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  margin-top: 1rem;
  text-align: center;
}

.introduction > .intro_text h2 {
  font-size: 1.5em;
  width: 60%;
  margin-bottom: 0;
}

.introduction > .intro_text p {
  font-size: 1.1em;
  width: 90%;
}

.introduction .btn_explore {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.introduction .btn_explore input {
  color: white;
  font-size: 3vw;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 20vw;
  border: none;
  -webkit-box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
          box-shadow: 6px 7px 9px -5px rgba(0, 0, 0, 0.67);
  width: 70%;
  height: 3.5em;
  cursor: pointer;
}

.block_operation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}
/*# sourceMappingURL=style-index.css.map */