/*fichies importes*/
@import "mixins.scss";
@import "variables.scss";

/*propriétés générales*/
*{
    font-size: 1rem;
}
body{
    max-width: 599px;
    height: auto;
    margin:0;
    padding:0;
}
/*header*/
#banner{
    width: 100%;
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top:0.5em;
        & img{
           width: 10em ;
        }
    }
    & .search-bar{
        width: 100%;
        height: 2.8rem;
        box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-map;
        & .fa-map-marker-alt{
            font-size: 0.9em;    
            color:$dark-bg-color;
            /*margin-left: 4em;*/
            width: 30%;
            text-align: right;
        }
        input{
            /*max-width: min-content;*/
            background-color: transparent;
            border:none;
            color:$dark-bg-color;
            width: 60%;
            margin-left:1em;   
            &::placeholder{
                text-align: left;
                font-size: 0.9em;
                color:$dark-bg-color;
                font-weight: bold;   
            }
            &:focus{
                outline-style: none;
            }
        }
    }
}
#introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: $light-bg-color;
    padding-bottom:3em; 
    .intro_text{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2{
            font-size: 1.5em;
            width: 60%;
            margin-bottom:0;
        }
        & p{
            font-size: 1.1em;
            width: 90%;
        }
    }
    .btn_explore{
        width: 60%;
        display: flex;
        justify-content: center;
        margin-top:10px;
        input{
            @include button_submit (70%,3vw);  
        }
    }
}