/*fichies importes*/
@import "mixins.scss";
@import "variables.scss";

/*propriétés générales*/
*{
    font-size: 1rem;
}
body{
    max-width: 599px;
    height: auto;
    margin:0;
    padding:0;
}
/*******header***********/
/*banniere du site*/
.banner{
    width: 100%;
    > .nav{
        @include block-column(none);
    }
    & .logo {
        margin-top:0.5em;
        & img{
           width: 10em ;
        }
    }
    & .search-bar{
        @include block-row(100%);
        align-items: center;
        background-color: $color-map;
        height: 2.8rem;
        box-shadow: -1px -8px 5px -6px rgba(126, 125, 125, 0.6);
        & .fa-map-marker-alt{
            font-size: 0.9em;    
            color:$dark-bg-color;
            width: 10%;
            text-align: right;
        }
        input{
            max-width: min-content;
            background-color: transparent;
            border:none;
            color:$dark-bg-color;
            width: 90%;
            margin-left:1em;   
            &::placeholder{
                text-align: left;
                font-size: 0.9em;
                color:$dark-bg-color;
                font-weight: bold;   
            }
            &:focus{
                outline-style: none;
            }
        }
    }
}
/*block presentation*/
.introduction{
    @include block-column;
    padding-bottom:3em; 
    > .intro_text{
        @include block-column(none);
        margin-top: 1rem;
        text-align: center;
        & h2{
            font-size: $title-size;
            width: 60%;
            margin-bottom:0;
        }
        & p{
            font-size: 1em;
            width: 90%;
        }
    }
    .btn_explore{
        @include block-row(60%);
        margin-top:10px;
        .call-to-action{
            @include button_submit (100%,1rem);
            &:hover{
                box-shadow: 6px 7px 9px -5px $primary;
            }
            
        }
       
    }
}
/*************Main**********/
/*block fonctionnement du site*/
.block_operation{
    @include block-column(none);
    padding-top: 2em;
    > .title{
        width: 100%;
        & h3{
            width: 90%;
            margin: 1.5em  auto;
            font-size: $title-size;
        }
    }
}
.block_list{
    width: 100%;   
    & ol{
        list-style-type: none;
        padding-left: 0;
        @include block-column(none);
        > li{
        @include block-row(90%);
        justify-content: flex-start;
        align-items: center;
        border:1px $light-bg-color solid;
        border-radius:20px;
        box-shadow: 6px 7px 9px -5px rgba(0,0,0,0.67);
        background-color: $light-bg-color;
        margin-bottom: 2em;
        height: 4em;
        position:relative;
        &:nth-child(3){
            background-color: rgba(147,86,220,0.1);
        }
        .fas{
            margin:0 2em;
            color: $color-icone;
            font-size: 1.2em;
            &.fa-store{
                color: $primary;
            }
        }
        > p:nth-child(1){
            border: none;
            border-radius: 100%;
            position: absolute;
            left: -10px;
            padding: 2px 7px;
            color: white;
            background: $primary;
            }
        }
    }
}
/*block restaurant*/
.block_restaurant{
    background-color: $light-bg-color;
    width: 100%;
    padding-bottom: 5em;
    > .title{
        width: 100%;
        padding-top: 2em;
        & h3{
            width: 90%;
            margin: 1.1em  auto;
            font-size: $title-size;
        }
    }
}
/*block liste des restaurants*/
.restaurant_list{
    @include block-column (none);
    & article {
        @include block-column (none, 90%);
        /*border:1px black solid;*/
        border-radius: 15px;
        box-shadow: 6px 7px 9px -5px rgba(0,0,0,0.67);
        margin: 1em;
    }
    & a{
        width: 100%;
        /*border: 1px black solid;*/
        background-color: white;
        border-radius: 15px;
        &:link{
            text-decoration: none;
        }
        & .part_img{
            img{
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-style: none;
                object-fit: cover;
                height: 175px;
            }
        }
        & .part_text{
            width: 95%;
            margin:auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: black;
            padding-top:0.5em;
            padding-bottom: 0.5em;
            > .info{
                width: 80%;
                h4,p{
                    font-size: 1.1em;
                    margin: 0.5em;
                }
            }
            & .icone_favorite{
                display: flex;
                width: 20%;
                justify-content: center;
                i{
                    font-size:1.8em;
                    margin-top:0.3em;
                }
            }
        }            
    }
}
/*****FOOTER****/
.container{
    width: 100%;
    background-color:$dark-bg-color;
    padding-top: 1em;
    padding-bottom:1.5em;
    display: flex;
    flex-direction: column;
    align-items:  center;
    h4{
        width: 90%;
        margin-bottom: 0;
        img{
            width: 30%;
            filter: invert(100%);
        }    
    }
    & .info_omyfood{
        width: 90%;
        padding-left: 0;
        > li{
            list-style-type: none;
            margin-bottom: 0.5em;
            & a{
                text-decoration: none;
                color: #FFF ;
                & .fas{
                    width: 8%;
                }  
            }
        }
    }  
}


